body {
    background-color: #e3f6f5;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MuiButtonBase-root.MuiButton-root {
    background-color: white;
}
